table {
                border-collapse: collapse;
            }
th {
                background-color:lightgrey;
                Color:black;
            }
th, td {
                width:100px;
                text-align:center;
                border:1px solid black;
                padding:5px
              
            }
            .geeks {
                border-right:hidden;
            }
            .gfg {
                border-collapse:separate;
                border-spacing:0 15px;
            }
h1 {
                color:lightgrey;
            }