{% extends 'layout.html' %}

{% block content %}
    <div class="container">
            <div class="text-center mt-5">
                <h1>What is Titanic?</h1>
                    <p>On April 15, 1912, the largest passenger liner ever made collided with an 🧊iceberg during her maiden voyage. When the Titanic sank it killed over 1000 passengers and crew. This sensational tragedy shocked the international community and led to better safety regulations for ships. One of the reasons that the shipwreck resulted in such loss of life was that there were not enough 🦺lifeboats for the passengers and crew. Although there was some element of <b>luck</b> involved in surviving the sinking, some groups of people were more likely to survive than others.</p>
                    <b>
                        <p class="lead">The luck was dependent on the tickets that were bought by the passengers. Very shortly I will sell you tickets, and let's see how the future of yours will turn out if you travelled on the Titanic. </p>
                    <b>
                        <p>Before diving straight into that, let's first get to learn some differences between this dataset and the real Titanic details.
                        </p>
                        <a class="nav-link" href="{{ url_for('down_arrow') }}">click here
                        </a>


            </div>
{% endblock %}